<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>${bookName}最新章节_${bookName}免费全文阅读_${bookName}小说无弹窗_哈哈优选</title>
    <meta name="keywords" content="${bookName},${bookName}最新章节,${bookName}全文阅读,${bookName}免费小说,${bookName}无弹窗">
    <meta name="description" content="哈哈优选提供${bookName}小说最新章节，${bookName}小说免费全文在线阅读，没有弹窗，看的更爽。">
    <meta name="format-detection" content="telephone=no">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="stylesheet" href="/xiaoshuo/desc-sprite.0.51.css">
</head>
<body class=" unlogin">
<script>
if (/iphone/i.test(navigator.userAgent)) {
    document.body.style.webkitTapHighlightColor = 'rgba(0,0,0,.05)';
    document.body.classList.add('iphone');
}
var bookId = ${bookId};
var bookName = "${bookName}";
</script>
<script data-ignore="true" src="/xiaoshuo/script/sprite.0.51.js"></script>
<div class="page page-book-detail">
    <div class="content">
        <header id="header" class="header" data-l1="41">

            <a href="http://www.hahayx.com/xiaoshuo/tag-${bookType}-1.html" class="header-back jsBack" >
                <svg class="icon icon-arrow-l"><title>返回</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-l"></use>
                </svg>
            </a>

            <h1 class="header-back-title">${bookName}</h1>
            <div class="header-operate">
                <a id="openGuide" href="http://www.hahayx.com/xiaoshuo/" class=" icon icon-home" title="主页" ></a>
            </div>
        </header>

        <div id="bookDetailWrapper" class="module module-merge book-detail-x">
            <img src="/xiaoshuo/cover/${bookId}.jpg" class="book-cover-blur" alt="${bookName}"
                 aria-hidden="true">

            <div class="book-detail-info">
                <div class="book-layout">

                    <img src="/xiaoshuo/cover/${bookId}.jpg" class="book-cover" alt="${bookName}"
                         aria-labelledby="ariaBook ariaTime">

                    <div class="book-cell">
                        <strong class="book-title">${bookName}</strong>
						 <p class="book-meta" role="option">作者：${auther}</p>
                        <p class="book-meta" role="option">类别：<a class="link" href="http://www.hahayx.com/xiaoshuo/tag-${bookType}-1.html">${type}</a></p>
                        <p class="book-meta" role="option">状态：${status}</p>
                    </div>
                </div>
				
            </div>
        </div>
        <div class="module module-merge">
            <section id="bookSummary" class="book-summary" role="option">
                <strong>小说简介：</strong>
                <content>${info}</content>
                    <span class="book-summary-more">
                        <svg class="icon icon-arrow-r" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-r"></use>
                        </svg>
                    </span>
            </section>
            <a href="/xiaoshuo/book-${bookId}/${lastChapterIndex}.html" id="bookNewLink" class="book-meta book-status">
                <div role="option">
                    <div class="book-meta-l">
                        <aria>点击访问</aria>
                        <h2 class="book-spt">最新章节</h2>
                    </div>
                    <div class="book-meta-r">
                        <aria>：更新状态：</aria>
                        <p class="gray ell" id="bookNew" role="option">${lastChapterName}</p>
                        <svg class="icon icon-arrow-r" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-r"></use>
                        </svg>
                    </div>
                </div>
            </a>
            <a href="javascript:void();" id="lastReadLink" hidden class="book-meta book-status">
                <div role="option">
                    <div class="book-meta-l">
                        <aria>点击访问</aria>
                        <h2 class="book-spt">最近阅读</h2>
                    </div>
                    <div class="book-meta-r">
                        <aria>：更新状态：</aria>
                        <p class="gray ell" id="lastRead" role="option">${lastChapterName}</p>
                        <svg class="icon icon-arrow-r" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-r"></use>
                        </svg>
                    </div>
                </div>
            </a>
        </div>

        <div id="catalogWrapper" >
            <div id="chapterNav" class="btn-group-tab">
                <nav class="btn-group">
                    <h3 class="btn-group-cell"><a href="javascript:" class="btn-blank active" data-rel="catelogX"
                                                  role="tab" data-index="0" aria-selected="true">目录</a></h3>

                </nav>

            </div>
            <div class="module module-merge">
                <div id="catelogX" class="chapter-tab-x active">
                    <div class="module-header">
                        <div class="module-header-l">
                            <h4 class="chapter-sub-title">共
                                <output>${lastChapterIndex}</output>
                                章
                            </h4>
                        </div>
                        <div class="module-header-r">
                            <a id="reverse" href="javascript:" class="module-header-btn dark" role="button">倒序</a>
                        </div>
                    </div>
                    <ol id="volumes" class="chapter-ol chapter-ol-catalog">
                        <li class="chapter-bar">正文卷</li>
						 #foreach($chapter in $chapters)
                        <li class="chapter-li jsChapter" role="&quot;link&quot;">
                            <a href="http://www.hahayx.com/xiaoshuo/book-${bookId}/$!{velocityCount}.html" class="chapter-li-a " data-chapter-id="$!{velocityCount}"
                               role="option">
                                <span class="chapter-index ">${chapter.name}</span>
                            </a>
                        </li>
						#end  

                    </ol>
                </div>
                <div id="bookmarkX" class="chapter-tab-x"></div>
            </div>
        </div>

    </div>
</div>


<div id="ext">
</div>


<a href="#header" class="footer-backtop-circle jsBackToTop" title="返回顶部" >
    <svg class="icon icon-backtop">
        <use xlink:href="#icon-backtop"></use>
    </svg>
</a>

<script type="text/javascript" src="/xiaoshuo/script/zepto.min.js"></script>
<script type="text/javascript" src="/xiaoshuo/script/book.js"></script>
<script type="text/javascript" src="/js/dc.js"></script>

</body>
</html>
