<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>${bookName}_${chapterName}_${bookName}全文免费在线阅读_哈哈优选</title>
    <meta name="keywords" content="${bookName}${chapterName}">
    <meta name="description" content="哈哈优选提供${bookName}小说在线阅读，【${chapterName}】全文在线免费阅读。">
    <meta name="format-detection" content="telephone=no">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="stylesheet" href="/xiaoshuo/book-sprite.0.51.css">
</head>
<body class=" skin-default unlogin">
<script>
if (/iphone/i.test(navigator.userAgent)) {
    document.body.style.webkitTapHighlightColor = 'rgba(0,0,0,.05)';
    document.body.classList.add('iphone');
}
var bookId = ${bookId};
var bookName = "${bookName}";
var chapterId = ${index};
var chapterName ="${chapterName}";

</script>
<script data-ignore="true" src="/xiaoshuo/script/sprite.0.51.js"></script>

<div id="pageRead" class="page-read ">
    <div class="nr_page">
        <table cellpadding="0" cellspacing="0">
            <tbody><tr>
			#if($index > 1)
			#set($pre=$!{index} - 1)
            <td class="prev"><a  href="http://www.hahayx.com/xiaoshuo/book-${bookId}/${pre}.html">上一章</a></td>
			#else
			<td class="prev"><a  href="http://www.hahayx.com/xiaoshuo/book-${bookId}/">上一章</a></td>
			#end
			
            <td class="mulu"><a  href="http://www.hahayx.com/xiaoshuo/book-${bookId}/">返回目录</a></td>
			
			#if($index < $size)
			#set($next=$!{index} + 1)
            <td class="next"><a  href="http://www.hahayx.com/xiaoshuo/book-${bookId}/${next}.html">下一章</a></td>
			#else
			<td class="next"><a >没有了</a></td>
			#end
            </tr>
        </tbody></table>
    </div>
	<content id="readContent" class="page-read-content" >
		<article id="chapterContent" class="read-article" style="font-size: 1.125rem" >
			<section class="read-section jsChapterWrapper" >
				<h1>${chapterName}</h1>
			   ${content}
			</section>
		</article>
	</content>

	<div class="pages">
			#if($index > 1)
			#set($pre=$!{index} - 1)
			<a href="http://www.hahayx.com/xiaoshuo/book-${bookId}/${pre}.html" id="readProgPrev" class="pager1">← 上一章</a>
			#else
			<a href="http://www.hahayx.com/xiaoshuo/book-${bookId}/" id="readProgPrev" class="pager1">← 上一章</a>
			#end
			
			<a href="http://www.hahayx.com/xiaoshuo/book-${bookId}/" id="readProgReturn" class="pager2 return_list">返回目录</a>
			
			#if($index < $size)
			#set($next=$!{index} + 1)
			<a href="http://www.hahayx.com/xiaoshuo/book-${bookId}/${next}.html" id="readProgNext" class="pager2">下一章 →</a>
			#else
			<a  id="readProgNext" class="pager2">没有了 →</a>
			#end
	</div>

	<div class="page-read-top">
        <a href="http://www.hahayx.com/xiaoshuo/" class="header-back">
            <svg class="icon icon-arrow-l"><title>返回首页</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-l"></use></svg>返回首页
        </a>
		<strong id="chapterTitle" class="read-book-name">${chapterName}</strong>
		<i id="readBookmark" class="read-bookmark" hidden>已加入书签</i>
	</div>
	<div id="ext"></div>
</div>


<script type="text/javascript" src="/xiaoshuo/script/content.js"></script>
<script type="text/javascript" src="/js/dc.js"></script>
</body>
</html>
